<div class="col-md-3 box-shadow">
	<div class="p-3 card border bg-light">
		<div class="card-header">
			<h6 class="my-0 font-weight-normal">
				{{ name }}
			</h6>
		</div>
		<div class="card-body">
			<img class="img-fluid mb-4" src="{{ imageSource }}" />
			<button
				type="button"
				class="btn btn-lg btn-block btn-outline-primary"
				onclick="window.location.href='interior-product.html'"
			>
				View
			</button>
			<ul class="list-unstyled mt-3 mb-4">
				<li>{{ price }}</li>
			</ul>
		</div>
	</div>
</div>
